<div class="wrapper">

	<div class="videobox" ng-click="toggleModal()" style="list-style: none;" ng-repeat="thing in things">
		<img ng-src="{{thing.img}}">
		<figcaption>{{thing.company}}</figcaption>
	</div>
	
</div>


<div ng-repeat="thing in things">
	<img ng-src="{{thing.img(index)}}">
</div>


'<div class="wrapper">
	<div class="videobox" ng-click="toggleModal()" style="list-style: none;" ng-repeat="thing in things">
		{{$index + 1}}
		<img ng-src="{{thing.img}}">
		<figcaption>{{thing.company}}</figcaption>
	</div>
</div>'